/*
    Name:     Kimbie (dark)
    Author:   Jan T. Sott
    License:  Creative Commons Attribution-ShareAlike 4.0 Unported License
    URL:      https://github.com/idleberg/Kimbie-highlight.js
*/

.dark-theme .hljs {
	background: #221a0f;
	color: #d3af86;
}

/* Kimbie Comment */
.dark-theme .hljs-comment,
.dark-theme .hljs-quote {
	color: #d6baad;
}

/* Kimbie Red */
.dark-theme .hljs-variable,
.dark-theme .hljs-template-variable,
.dark-theme .hljs-tag,
.dark-theme .hljs-name,
.dark-theme .hljs-selector-id,
.dark-theme .hljs-selector-class,
.dark-theme .hljs-regexp,
.dark-theme .hljs-meta {
	color: #dc3958;
}

/* Kimbie Orange */
.dark-theme .hljs-number,
.dark-theme .hljs-built_in,
.dark-theme .hljs-literal,
.dark-theme .hljs-type,
.dark-theme .hljs-params,
.dark-theme .hljs-deletion,
.dark-theme .hljs-link {
	color: #f79a32;
}

/* Kimbie Green */
.dark-theme .hljs-string,
.dark-theme .hljs-regexp,
.dark-theme .hljs-symbol,
.dark-theme .hljs-bullet,
.dark-theme .hljs-doctag,
.dark-theme .hljs-addition {
	color: #889b4a;
	background-image: none;
}

/* Kimbie Purple */
.dark-theme .hljs-keyword,
.dark-theme .hljs-selector-tag,
.dark-theme .hljs-function {
	color: #98676a;
}

/* Kimbie Yellow */
.dark-theme .hljs-title,
.dark-theme .hljs-section,
.dark-theme .hljs-attribute {
	color: #f06431;
}

.dark-theme .hljs-emphasis {
	font-style: italic;
}

.dark-theme .hljs-strong {
	font-weight: bold;
}
