:root {
	color-scheme: light;
	--wow-font-size: 18px;
	--wow-bg: #fff;
	--wow-input-bg: #f6f6f6;
	--wow-checkbox-shadow: #23262915;
	--wow-accent: #FF9557;
	--wow-accent-light: #FF955722;
	--wow-color: #232629;
	--wow-label: #232629; /* #79848f; #1d1d27; */
	--wow-placeholder: #7e7e90; /* #dfe0ea; #7e7e90; */
	--wow-border: #e2e3ee;
	--wow-padding: 1em 1.3em;
	--wow-border-radius: 10px;
	--wow-border-hover: #FF9557;
	--wow-option-hover: #f4f4f4;
	--wow-scroll-thumb: #cdcdcd;
	--wow-scroll-bg: #f0f0f0;
	--wow-icon: #98a5bd;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--wow-bg: #232629;
		--wow-input-bg: #232629;
		--wow-accent: #FF9557;
		--wow-accent-light: #FF955722;
		--wow-color: #ffffff;
		--wow-label: #ebebec;
		--wow-placeholder: #717171;
		--wow-border: #717171;
		--wow-padding: 1em 1.3em;
		--wow-border-radius: 10px;
		--wow-border-hover: #FF9557;
		--wow-option-hover: #2A2E32;
		--wow-scroll-thumb: #717171;
		--wow-scroll-bg: #232629;
		--wow-icon: #717171;
	}
}

[color-scheme='light'] {
	color-scheme: light;
	--wow-bg: #fff;
	--wow-input-bg: #f6f6f6;
	--wow-accent: #FF9557;
	--wow-accent-light: #FF955722;
	--wow-color: #232629;
	--wow-label: #232629; /* #79848f; #1d1d27; */
	--wow-placeholder: #dfe0ea; /* #7e7e90; */
	--wow-border: #e2e3ee;
	--wow-padding: 1em 1.3em;
	--wow-border-radius: 10px;
	--wow-border-hover: #FF9557;
	--wow-option-hover: #f4f4f4;
	--wow-scroll-thumb: #cdcdcd;
	--wow-scroll-bg: #f0f0f0;
	--wow-icon: #98a5bd;
}

[color-scheme='dark'] {
	color-scheme: dark;
	--wow-bg: #232629;
	--wow-input-bg: #232629;
	--wow-accent: #FF9557;
	--wow-accent-light: #FF955722;
	--wow-color: #ffffff;
	--wow-label: #ebebec;
	--wow-placeholder: #717171;
	--wow-border: #717171;
	--wow-padding: 1em 1.3em;
	--wow-border-radius: 10px;
	--wow-border-hover: #FF9557;
	--wow-option-hover: #2A2E32;
	--wow-scroll-thumb: #717171;
	--wow-scroll-bg: #232629;
	--wow-icon: #717171;
}

@media (max-width: 1600px) {
	:root {
		--wow-font-size: 16px;
	}
}

@media (max-width: 1280px) {
	:root {
		--wow-font-size: 15px;
	}
}

@media (max-width: 1024px) {
	:root {
		--wow-font-size: 14px;
	}
}

@media (max-width: 480px) {
	:root {
		--wow-font-size: 14px;
	}
}

/* overwrite input.css style below */

label i {
	float: right;
}

h1.full {
	text-align: left;
}
