/*!
  Theme: Mozilla
  Description: Light theme as seen on Mozilla.com
  Author: Marcys

  Current colors taken from Mozilla's CSS
*/

.hljs {
	color: #24292e;
	background: #ffffff;
}

.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
	/* prettylights-syntax-keyword */
	color: #1c4482 !important;
}

.hljs-doctag {
	color: #ff6600 !important;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
	/* prettylights-syntax-entity */
	color: #007936 !important;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
	/* prettylights-syntax-constant */
	color: #0069c2 !important;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
	/* prettylights-syntax-string */
	color: #d30038 !important;
}

.hljs-built_in,
.hljs-symbol {
	/* prettylights-syntax-variable */
	color: #e36209 !important;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
	/* prettylights-syntax-comment */
	color: #6a737d !important;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
	/* prettylights-syntax-entity-tag */
	color: #22863a !important;
}

.hljs-subst {
	/* prettylights-syntax-storage-modifier-import */
	color: #24292e !important;
}

.hljs-section {
	/* prettylights-syntax-markup-heading */
	color: #0069c2 !important;
	font-weight: bold;
}

.hljs-bullet {
	/* prettylights-syntax-markup-list */
	color: #735c0f !important;
}

.hljs-emphasis {
	/* prettylights-syntax-markup-italic */
	color: #24292e !important;
	font-style: italic;
}

.hljs-strong {
	/* prettylights-syntax-markup-bold */
	color: #24292e !important;
	font-weight: bold;
}

.hljs-addition {
	/* prettylights-syntax-markup-inserted */
	color: #22863a !important;
	background-color: #f0fff4 !important;
}

.hljs-deletion {
	/* prettylights-syntax-markup-deleted */
	color: #b31d28 !important;
	background-color: #ffeef0 !important;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
	/* purposely ignored */
	color: #0069c2 !important;
}

.hljs-ln-code .hljs-string + .hljs-string {
	color: #ff9900 !important;
	font-weight: 500;
}
